<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= comment.users_id %>
  </p>

  <p>
    <strong>Gallerys:</strong>
    <%= comment.gallerys_id %>
  </p>

</div>
