<div id="<%= dom_id gallery %>">
  <p>
    <strong>Image:</strong>
    <%= gallery.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gallery.description %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= gallery.users_id %>
  </p>

</div>
